.proj{
    display: flex;
    flex-direction: row;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 10vh;
    gap: 10vh;
    justify-content: space-evenly
}

.img{
    width: 100%;
    height: 100%;
    caret-color: transparent;
}

.projs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 10vh;
    gap: 10vh;
    padding-bottom: 10vh;
}

.basicprojects{
    padding-top: 5%;
    font-weight: bolder;
    font-size: xx-large;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    padding-left: 40%;
    color: rgb(170, 245, 245);
}

.proj > * {
    flex: 1;
  }

.ex1{
    box-shadow: 0 4px 8px 0 rgba(241, 245, 6, 0.986);
    padding: 2vh;
    background-color: rgb(49, 46, 46);
}
.ex3{
    box-shadow: 0 4px 8px 0 rgba(241, 245, 6, 0.986);
    padding: 2vh;
    background-color: rgb(173, 119, 119);
}

.ex3:hover{
    box-shadow: 0 4px 4px 4px rgba(246, 250, 248, 0.986);
}
.title{
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    border-radius: 5px;
    font-size: x-large;
    padding: 10px;
    align-items: center;
    color: rgb(199, 238, 211);
    caret-color: transparent;
}

.projname{
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    border-radius: 5px;
    font-size: x-large;
    padding: 10px;
    align-items: center;
    color: rgb(239, 243, 239);
    caret-color: transparent;
}
.des{
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    color: rgb(238, 195, 223);
    caret-color: transparent;
}

.jobdes{
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    color: rgb(245, 161, 105);
    caret-color: transparent;
}

@media only screen and (max-width: 768px){
    .proj{
        flex-direction: column;
    }
}