*{
    margin: 0%;
    padding: 0%;
}

.home{
    width: 100%;
    background: url(./images/back10.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.profile{
    display: flex;
    align-items: center;
}

.footer{
    position: absolute;
    bottom: 0;
    display: block;
    padding: 20px 10px;
}