*{
    margin: 0%;
    padding: 0%;
}

.home{
    width: 100%;
    background-color: rgb(101, 111, 119);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: repeat-y;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background:
        -moz-radial-gradient(rgb(236, 217, 45) 1%, transparent 5%),
        -moz-radial-gradient(rgb(236, 217, 45)  1%, transparent 5%),
        rgb(21, 23, 24);
    background:
    -webkit-radial-gradient(rgb(236, 217, 45)  1%, transparent 5%),
    -webkit-radial-gradient(rgb(236, 217, 45)  1%, transparent 5%),
    rgb(27, 29, 31);
background-position: 0 0, 80px 80px;

-webkit-background-size:160px 160px;
-moz-background-size:160px 160px;
}

.profile{
    display: flex;
    align-items: center;
}

.education{
    display: flex;
    align-items: center;
}

.footer{
    position: absolute;
    bottom: 0;
    display: block;
    padding: 20px 10px;
}